# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
ios/
android/

# Dependencies
node_modules/
.nexpo/

# Environment
.env
.env.local
.env.*.local

# Misc
.DS_Store
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# IDE
.idea/
.vscode/
*.swp
